body{ 
  padding: 0 15px;
  background-color: #f7f7f7;
}
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_section {
  padding: 40px;
  max-width: 700px;
  width: 100%;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}
.form_section .form_col {
  padding: 5px 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.form_section .form_col label,
.form_section .form_col p {
  display: block;
  white-space: nowrap;
  width: 100%;
  margin: 0;
}
.form_section .form_col .form-control {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 40px);
  font-size: 16px;
}
.form_section .form_col.payment_buttons {
  padding-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.form_section .form_col.payment_buttons .button {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border: 1px solid;
  cursor: pointer;
}
.form_section .form_col.payment_buttons .button:hover {
  background-color: #ead9d9 !important;
  color: #000 !important;
}
@media (max-width: 780px) {
  .form_section .form_col.payment_buttons {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 575px) {
  .form_section {
    padding: 15px;
    margin: 1rem auto;
  }
  .form_section .form_col .form-control {
    padding: 10px;
    width: calc(100% - 25px);
  }
  .form_section .form_col.payment_buttons {
    padding-top: 25px;
  }
}